#component-search{
  //@media screen and (min-width: 780px) {
  //  background-color:orange;
  //}

  .master-row{
    //background-color:orange;
    margin-bottom:10px;
  }

  .error-row{
    margin-bottom:10px;
  }

  #search-box{
    [class*=col-]{
      margin-bottom:5px;
    }
  }//search-box

  #results-box{
    #sub-header{
      margin-bottom:10px;
      span{
        display:flex;
        padding:8px;
        background-color:#F0F0F0;
        //border:1px solid #ddd;
        border-radius: 4px;
        b{
          color:cornflowerblue;
          font-weight: normal;
        }
      }//span
    }//sub-header
    .thumbnail{
      padding:0;
      h4{
        font-size:1em;
        margin:0;
        padding:0;
      }
      img{
        border-radius: 4px 0px 0px 4px;
      }
      .col-wrapper{
        padding:4px;
      }
    }
  }//results-box

  #error-box{
    .alert{
      padding:4px;
      margin:0;
    }
  }

}//component-search
